@model PI_OTDAV_Web.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title>OTDAV|ESPRIT-4GL5</title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="APEZ - Responsive Multi-Purpose HTML5 Template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.png" />
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/material/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/material/mdl-selectfield.min.css">
    <!-- Animteheading Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/animateheading/animateheading.min.css" />
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/owl_carousel/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/animate/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/magnific_popup/magnific-popup.min.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/assets/plugin/flexslider/flexslider.min.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="~/Content/dist/css/style.css">
    <title>Login</title>
</head>
<body>

    <!-- Start Login Section -->
    <div class="login">

        <div class="layer-stretch">
            <div class="layer-wrapper">
                <form method="post" action="@Url.Action("PasswordRecoverrrr", "Login")">
                @using (Html.BeginForm())
                {
                    <div class="row pt-4">
                        @Html.AntiForgeryToken()
                        <div class="col-md-4">
                            <h1>Mot de passe oublié</h1>
                            <hr />

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.mail, htmlAttributes: new { @class = "dl-textfield__label" })*@
                                @*@Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "dl-textfield__input", @name="mail" } })*@
                                <input name="spec" />
                            </div>

                            <div class="pt-4 text-center">
                                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button button-dark" type="submit">Envoyer</button>
                            </div>


                    

                        </div>

                        <div class="col-md-8">
                            <div class="sub-ttl"><div class="sub-ttl-text">Benefits of Login</div></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="list-icon pl-5">
                                        <li><i class="ti-angle-double-right"></i>Fully Responsive or Mobile Friendly</li>
                                        <li><i class="ti-angle-double-right"></i>SEO Friendly</li>
                                        <li><i class="ti-angle-double-right"></i>Clean Code &#38; Fully Documented</li>
                                        <li><i class="ti-angle-double-right"></i>Fast Load</li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-icon">
                                        <li><i class="fa fa-hand-o-right"></i>Content Marketing</li>
                                        <li><i class="fa fa-hand-o-right"></i>Easy to Customize, SEO Friendly</li>
                                        <li><i class="fa fa-hand-o-right"></i>Google Web Fonts</li>
                                        <li><i class="fa fa-hand-o-right"></i>Font Icons and More +</li>
                                    </ul>
                                </div>
                            </div>
                            <p class="text-light p-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore vel veniam delectus debitis fugit non labore iste perferendis minus cumque dolor architecto, sapiente, dolores numquam incidunt quos et fuga laborum.</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div><!-- End of Login Section -->
    <!-- Start Action Section -->

</body>
</html>




