@model PI_OTDAV_Web.Models.RepartitionModel

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="layer-ttl"><h4>Repartition <span class="text-primary">Avec </span> Succée </h4></div>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
